<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% block title %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:300|Vibur" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/footer/style.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">
</head>
<body>
    {%block content%}
    {%endblock%}

    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="http://www.facebook.com"><i class="fa fa-facebook"><img src="{% static 'home/img/socialmedia/fb.png'%}" </i></a>
            <a href="http://www.instagram.com"><i class="fa fa-instagram"></i><img src="{% static 'home/img/socialmedia/insta.png'%}"</a>
            <a href="http://www.snapchat.com"><i class="fa fa-snapchat"></i><img src="{% static 'home/img/socialmedia/snap.png'%}"</a>
        </div>
        <div class="footer-left">
            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">Blog</a>
                ·
                <a href="#">Pricing</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Faq</a>
                ·
                <a href="#">Contact</a>
            </p>
            <p>InternetBooksDatabase&copy; 2015</p>
        </div>

    </footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
<script src="{% static 'home/js/javas.js'%}"></script>
</html>
