body {
    background-color: #EFEFEF;
    font-size:100%;
}

.container {
    margin-bottom: 15em;   
}
/* slider sltyling*/
.slider{
    margin-top: 5%;
}
.item {
    height:60em;
}


/* nav styling */
.glyphicon{
    font-size: 40px;
    margin-right: 1em;
}
.navbar {
    background-color: white;
}
nav {
    padding-top: 1%;
    padding-bottom: 1%;
}
nav a {
    font-size: 200%;
}
#remember {
    margin-left: 1em;
}

.btn {
    margin-bottom: 2em;
}
